.App {
  text-align: center;
  /*border: 2px solid black;*/
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Rubik", sans-serif;

  background-color: aliceblue;
}

.nextQuote {
  border-radius: 18%;
  padding: 15px;
  margin: 3%;

  font-size: 15px;
  font-weight: bold;
  background-color: antiquewhite;
}

.randomQuote {
  font-size: 25px;
}
